html,
body {
    height: 100%;
}

body:not(.modal-open){
    padding-right: 0px !important;
}

@media(max-width:767px) {
    .h1 {
        font-size: 3vh;
    }
}

th.rotate {
    /*height:80px;*/
    white-space: nowrap;
    position:relative;
}

th.rotate > div {
    transform: rotate(90deg);
    position:absolute;
    left:0;
    right:0;
    top: 10px;
    margin:auto;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}